/* COLOR SCHEME */

/* 
#f3fdf5 - body color
#d8f3dc - light
#b7e4c7 - medium
#52b788 - dark
*/

/* PLEASE DO NOT TOUCH THIS CODE */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
}

*::-webkit-scrollbar {
  width: 3px;
  background-color: #96d39e2f;
}

*::-webkit-scrollbar-thumb {
  background-color: #b7e4c7;
  border-radius: 1rem;
}

/* styles for login page */

/* styles for main page */
body {
  background-color: #f3fdf5;
  position: relative;
}

nav {
  background-color: #57cc99;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

.nav-links a,
.nav-links p {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #f3fdf5;
  transition: 100ms border-bottom;
}

.nav-links {
  display: flex;
  flex-direction: row;
  animation: moveDown 400ms;
}

.post-anc a {
  color: black;
}

.my-posts {
  width: 5rem;
  color: #f3fdf5;
}

.info-content-main-wrapper {
  display: flex;
  height: 100vh;
}

.aside-contents {
  width: 15%;
  height: calc(100vh - 4rem);
  padding: 1rem;
  padding-top: 5rem;
  /* margin-top: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .information-wrapper {
  border-right: 1px solid #d8f3dc;
} */

.announcement-wrapper {
  width: 20%;
}

.info-announce-contents {
  min-height: 100%;
  background-color: #d8f3dc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  overflow-y: scroll;
}

.info-announce-contents a:visited,
.info-announce-contents a {
  color: blue;
  text-decoration: none;
}

#dos-message {
  background-color: #eb6868;
}

.announcement p,
#dos-message p {
  word-break: break-all;
}

.info-announce-contents div {
  background-color: #52b78875;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

#abt-user {
  background-color: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0;
  background-color: transparent;
  display: block;
}

/* .abt-user div {
  word-wrap: break-word;
} */

.post-anc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-announce-contents div h2,
.info-announce-contents div p,
.info-announce-contents div span {
  text-align: center;
}

.headers {
  background-color: #b7e4c7;
  border-radius: 1rem;
  padding: 0.3rem 0;
}

.headers h2 {
  text-align: center;
  font-size: 120%;
}

main {
  flex: 1;
  height: calc(100vh - 4rem);
  /* background-color: rgb(215, 255, 196); */
  padding: 1rem;
  /* padding-top: 5rem; */
  margin-top: 4rem;
  /* margin-bottom: 5rem; */
  overflow: auto;
}

section {
  margin: 0 auto;
  padding: 2rem 3rem;
  min-height: 87vh;
  max-width: 85rem;
  background-color: #d8f3dc;
  border-radius: 1rem;
  /* overflow-y: scroll; */
  /* position: relative; */
  /* z-index: -1; */
}

.loading {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.post {
  padding: 1rem;
  background-color: #52b78875;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  word-wrap: break-word;
  animation: postsAnimation 400ms ease-out;
}

.announcement {
  word-wrap: break-word;
  animation: postsAnimation 400ms ease-out;
}

.post a {
  color: blue;
  text-decoration: none;
}

.post a:visited {
  color: blue;
}

button {
  font-size: 1.2rem;
  padding: 0 0.2rem;
  width: 3.8rem;
  background-color: #57cc99;
  border-radius: 0.5rem;
  border: 1px solid #327757;
  transition: all 200ms;
}

button:hover {
  background-color: #439e74;
  color: #f3fdf5;
  cursor: pointer;
  transform: translateY(-2px);
}

.logo-container {
  animation: moveRight 500ms ease-out 500ms backwards;
}

.logout-link,
#logout-button {
  color: #ffffff;
}

#abt-user button {
  margin-bottom: 1rem;
  width: 100%;
  min-height: 4rem;
  position: relative;
  z-index: 0;
  animation: moveUp 400ms ease-out;
}

#abt-user button:hover {
  transform: translateY(-3px);
}

#abt-user button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #57cc99;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  z-index: -1;
  transition: 400ms;
  opacity: 0.8;
}

#abt-user button:hover::after {
  transform: scale(1.2);
  border-radius: 0.5rem;
  opacity: 0;
}

.my-posts {
  text-align: center;
}

.my-posts:hover {
  cursor: pointer;
}

.create-post:hover,
#add-announcement:hover {
  background-color: #eaf3eb;
  border: 1px solid #52b788;
  color: #000000;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  display: flex;
}

.hamburgur-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.3rem;
}

.line {
  background-color: rgb(243, 243, 243);
  height: 0.2rem;
  width: 100%;
  border-radius: 0.5em;
}

.some-line-styles {
  height: 0.23rem;
}

/* modals */
.logout-modal,
.announce-container,
.upload-post-container,
.feedback-container,
.survey-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b7e4c7e7;
  width: 20rem;
  height: 10rem;
  animation: modalAnimation 150ms;
}

.upload-post-container {
  min-height: 25rem;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 0.5rem;
}

#newsfeed,
#my-posts {
  text-align: center;
  margin-bottom: 1.2rem;
}

textarea {
  border-color: white;
  width: 100%;
  resize: none;
  max-height: 10rem;
}

textarea:is(:focus, :valid) {
  border: none;
  outline: none;
  border-color: #719ece;
  box-shadow: 0 0 10px #99999957;
}

.announce-container,
.feedback-container,
.survey-container {
  min-height: 25rem;
  padding: 2rem;
  justify-content: space-around;
  border-radius: 0.5rem;
}

#add-announcement:hover {
  cursor: pointer;
}

.add-announce-container,
.add-post-container,
.send-fb-container,
.send-sv-container {
  min-height: 12rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.survey-container {
  justify-content: center;
  gap: 1rem;
  flex: 1;
  width: 40rem;
  height: 35rem;
  z-index: 1001;
}

.send-sv-container p {
  text-align: center;
}

.add-post-container {
  justify-content: space-between;
  min-height: 20rem;
}

.post > p {
  font-size: 20px;
}

label input,
label textarea {
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 10px;
}

.btn-close {
  font-family: inherit;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 1.5%;
  right: 3%;
  font-size: 150%;
  cursor: pointer;
  border: none;
  background: none;
}

#tac-fb {
  background-color: transparent;
  width: 10rem;
}

#tac-fb {
  text-decoration: 1px underline black;
  cursor: pointer;
}

#tac-link {
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: black;
  background-color: #3c3c3c;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.preloader:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.preloader-span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.preloader-span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}

.error {
  color: red;
  margin-top: 7px;
}

.hidden {
  display: none;
}

.load-more {
  font-size: 1.2rem;
  width: 8.7rem;
  cursor: pointer;
  padding: 0.4rem;
  background-color: #b7e4c7;
  border-radius: 0.5rem;
  border: 1px solid black;
  transition: all 200ms;
  user-select: none;
  margin-left: 50%;
  transform: translateX(-50%);
}

.load-more:hover {
  text-decoration: #000000 underline;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -3px);
  cursor: pointer;
}

.load-more:active {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -2px) scale(0.98);
}

.error-animation {
  animation: errorShake 250ms;
}

a {
  color: #000000;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@keyframes postsAnimation {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  80% {
    opacity: 0.8;
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes errorShake {
  0% {
    transform: translateX(-4px);
  }

  25% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .information-wrapper,
  .announcement-wrapper {
    display: none;
  }

  .information-wrapper,
  .announcement-wrapper {
    width: 100vw;
  }

  .hamburgur-icon {
    display: flex;
  }

  nav {
    flex-direction: row;
    align-content: space-between;
    z-index: 1000;
  }

  .collapsed-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    background-color: rgb(82, 183, 136);
    top: 4rem;
    left: 0;
    z-index: 1000;
    padding: 1rem;
    gap: 1rem;
  }

  .create-post,
  #add-announcement {
    background-color: #f3fdf5;
    margin-bottom: 1rem;
    width: 100%;
    height: 6rem;
  }

  #nav-desktop {
    display: none;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 670px) {
  .survey-container {
    width: 98%;
    min-height: 20rem;
  }
}

@media (max-width: 475px) {
  #dos {
    padding: 1rem 0.5rem;
  }

  section,
  .info-announce-contents {
    border-radius: 0;
  }

  .aside-contents,
  main {
    padding: 0rem;
    padding-top: 5rem;
  }

  .headers {
    width: 95%;
    align-self: center;
  }

  .survey-container {
    height: 95vh;
  }

  .send-sv-container p {
    font-size: 14px;
  }
}

@media (max-width: 281px) {
  .aside-contents,
  main {
    padding: 0rem;
    padding-top: 4rem;
  }

  .aside-contents {
    padding: 0rem;
    padding-top: 6rem;
  }

  /* section,
    .info-announce-contents {
      border-radius: 0;
    } */
}
