/* COLOR SCHEME */

/* 
#f3fdf5 - body color
#d8f3dc - light
#b7e4c7 - medium
#52b788 - dark
*/

/* PLEASE DO NOT TOUCH THIS CODE */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: #52b7888f;
  border-radius: 1rem;
}

/* styles for login page */

/* styles for main page */
body {
  background-color: #f3fdf5;
}

nav {
  background-color: #52b788;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

section div {
  padding: 1rem;
  background-color: #52b78875;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #f3fdf5;
}

.info-content-main-wrapper {
  display: flex;
  height: 100vh;
}

.aside-contents {
  padding: 1rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.announcement-wrapper {
  width: 20%;
}

.info-announce-contents {
  height: 80vh;
  background-color: #d8f3dc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  overflow: scroll;
}

.info-announce-contents h3 {
  text-align: center;
}

.headers {
  background-color: #b7e4c7;
  border-radius: 1rem;
  padding: 0.3rem 0;
}

.headers h2 {
  text-align: center;
  font-size: 120%;
}

main {
  flex: 1;
  height: 100vh;
  /* background-color: rgb(215, 255, 196); */
  padding: 1rem;
  padding-top: 5rem;
  overflow: auto;
}

section {
  margin: 0 auto;
  padding: 2rem 3rem;
  min-height: 87vh;
  max-width: 85rem;
  background-color: #d8f3dc;
  border-radius: 1rem;
}

.nav-container {
  display: flex;
}

.contact-link {
  color: rgb(2, 133, 255);
}

.contact-link:visited {
  color: rgb(2, 133, 255);
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  z-index: 1000;
  transition: all 0.5s;
}

@media (max-width: 1024px) {
  .info-content-main-wrapper {
    display: block;
  }

  .announcement-wrapper {
    width: 100%;
    display: block;
  }

  .info-announce-contents {
    height: 10rem;
    margin: 0;
  }

  .headers,
  .info-announce-contents {
    border-radius: 0;
  }
  #dos {
    overflow: scroll;
  }
}

@media (max-width: 475px) {
  #dos {
    padding: 1rem 0.5rem;
  }

  section,
  .info-announce-contents {
    border-radius: 0;
  }

  .aside-contents,
  main {
    padding: 0rem;
    padding-top: 5rem;
  }

  .headers {
    width: 100%;
    align-self: center;
  }
}

@media (max-width: 281px) {
  .aside-contents,
  main {
    padding: 0rem;
    padding-top: 4rem;
  }

  .aside-contents {
    padding: 0rem;
    padding-top: 6rem;
  }
}
